<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="csrf-token" content="<%= csrfToken %>" />
        <script src="https://cdn.tailwindcss.com"></script>    
        <link rel="stylesheet" href="/css/styles.css">
        <script>
          var token = document
            .querySelector('meta[name="csrf-token"]')
            .getAttribute("content");
          function updateTodo(id) {
            const bool = document.querySelector(`#todo-checkbox-${id}`).checked
            fetch(`/todos/${id}`, {
            method: "put",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
              _csrf: token,
              completed: bool
            }),
          })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.error(err));
        }
        function deleteTodo(id) {
          fetch(`/todos/${id}`, {
            method: "delete",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
              _csrf: token,
            }),
          })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.error(err));
        }
        </script>
        <title>To-Do Manager</title>
    </head>
    <body>
        <div class="grid grid-cols-6">
            <div class="col-start-3 col-span-2">
                <%- include('header.ejs') %>
                <form id="todoForm" action="/todos" method="post">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                  <div class="flex gap-2 py-4">
                    <div class="flex-auto">
                      <input id="titleInput" type="text" name="title" placeholder="What's next?" class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm" required/>
                    </div>
                    <div class="flex-auto">
                      <input id="dueDateInput" type="date" name="dueDate" class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm leading-4 required"/>
                    </div>
                    <div class="flex-none">
                      <button id="addButton" type="submit" class="bg-green-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb">Add</button>
                    </div>
                  </div>
                </form>
                
                <script>
                  const form = document.getElementById('todoForm');
                  const titleInput = document.getElementById('titleInput');
                  const dueDateInput = document.getElementById('dueDateInput');
                
                  form.addEventListener('submit', (event) => {
                    // Prevent form submission if title or due date are empty
                    if (titleInput.value.trim() === '' || dueDateInput.value.trim() === '') {
                      event.preventDefault();
                      alert('Please enter a title and a due date.');
                    }
                  });
                </script>
                  <div>
                    <%- include('todos.ejs', {title: "Overdue", data: overdue}) %> <%-
                    include('todos.ejs', {title: "Due Today", data: dueToday}) %> <%-
                    include('todos.ejs', {title: "Due Later", data: dueLater}) %> <%-
                    include('todos.ejs', {title: "Completed ", data: completedItems})
                    %>
                  </div>
                  <!-- <div style="display:flex; align-:baseline;">
                    <h5>Overdue</h5>
                    <span class="bg-gray-100 text-gray-800 text-sm font-small mr-2 px-2.5 py-0.5 rounded dark:bg-gray-200 dark:text-gray-900 justify-center -center " id="count-overdue">
                          <%= overdue.length %>
                        </span>
                  </div>
                      <ul class="list-none">
                        <% for(var i=0; i< overdue.length; i++) { %>
                        <li class="Todo-Item">
                          <div class="flex -center w-fit my-2 px-2 py-1 hover:bg-gray-100">
                            <input id="todo-checkbox-<%= overdue[i].id %>" type="checkbox" name="" <%=overdue[i].completed ? "checked" : "" %> id="todo-checkbox-1" 
                            onclick="updateTodo(<%= overdue[i].id %>)" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300"/>
                            <label for="todo-checkbox-<%= overdue[i].id %>" class="ml-2 text-sm text-gray-600 cursor-pointer">
                              <%= overdue[i].title %>
                            </label>
                            <a href="#" class="ml-2 hidden trash-icon ml-2" onclick="deleteTodo(<%= overdue[i].id %>)">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                </svg>
                            </a>
                          </div>
                        </li>
                        <% } %>
                    </ul>

                  <div style="display:flex; align-:baseline;">
                    <h5>Due Today</h5>
                    <span class="bg-gray-100 text-gray-800 text-sm font-small mr-2 px-2.5 py-0.5 rounded dark:bg-gray-200 dark:text-gray-900 justify-center -center "
                          id="count-due-today"><%= dueToday.length %>
                        </span>
                  </div>  
                    <ul class="list-none">
                        <% for(var i=0; i< dueToday.length; i++) { %>
                        <li class="Todo-Item">
                            <div class="flex -center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50">
                              <input id="todo-checkbox-<%= dueToday[i].id %>" type="checkbox" name="" <%=dueToday[i].completed ? "checked" : "" %> id="todo-checkbox-2" 
                              onclick="updateTodo(<%= dueToday[i].id %>)" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300"/>
                              <label for="todo-checkbox-<%= dueToday[i].id %>" class="ml-2 text-sm text-gray-600 cursor-pointer">
                              <%= dueToday[i].title %>
                            </label>
                            <a href="#" class="ml-2 hidden trash-icon ml-2" onclick="deleteTodo(<%= dueToday[i].id %>)">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                            </svg>
                            </a>
                          </div>
                        </li>
                        <% } %>
                      </ul>

                    <div style="display:flex; align-:baseline;">
                      <h5>Due Later</h5>
                      <span class="bg-gray-100 text-gray-800 text-sm font-small mr-2 px-2.5 py-0.5 rounded dark:bg-gray-200 dark:text-gray-900 justify-center -center "
                          id="count-due-later"> <%= dueLater.length %>
                        </span>
                    </div> 
                      <ul class="list-none">
                        <% for(var i=0; i< dueLater.length; i++) { %>
                        <li class="Todo-Item">
                          <div class="flex -center w-fit my-2 px-2 py-1 hover:bg-gray-100">
                            <input id="todo-checkbox-<%= dueLater[i].id %>" type="checkbox" name="" <%=dueLater[i].completed ? "checked" : "" %> id="todo-checkbox-3" 
                            onclick="updateTodo(<%= dueLater[i].id %>)" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300"/>
                            <label for="todo-checkbox-<%= dueLater[i].id %>" class="ml-2 text-sm text-gray-600 cursor-pointer">
                              <%= dueLater[i].title %>
                            </label>
                            <a href="#" class="ml-2 hidden trash-icon ml-2" onclick="deleteTodo(<%= dueLater[i].id %>)">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                  </svg>
                            </a>
                          </div>
                        </li>
                        <% } %>
                      </ul>
                </div>
            </div> -->
        <%- include('footer') %>
    </body>
</html>
