<html>
  <head>
    <title>Todo App</title>
  </head>

  <body>
    <%- include('header') %>
    <h2>Todo List</h2>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Due Date</th>
          <th>Completed</th>
        </tr>
      </thead>
      <tbody>
        <% todos.forEach(function(todo) { %>
        <tr>
          <td><%= todo.title %></td>
          <td><%= todo.dueDate %></td>
          <td><%= todo.completed %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <%- include('footer') %>
  </body>
</html>
